[Unit]
Description=GCWebArchives
After=syslog.target network.target mariadb.service

[Service]
User=lacwayback
ExecStart=/opt/gcwebarchives/gcwebarchives.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
